@model IEnumerable<Book>

@{
    ViewData["Title"] = "Index";
}


<div class="container p-3 w-75">

    <div class="row my-3">
        <div class="col-6">
            <h2>
                Book List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Book" asp-action="Add" class="btn btn-outline-success"><i class="bi bi-plus-circle"></i> &nbsp; Add Book</a>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-bordered table-hover mx-auto mt-5" >
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Author
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Page
                    </th>
                    <th>
                        Last Modified Date
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model)
                {
                    <tr>
                        <td>
                            @obj.ID
                        </td>
                        <td>
                            @obj.Title
                        </td>
                        <td>
                            @obj.Author
                        </td>
                        <td>
                            @obj.Category
                        </td>
                        <td>
                            @obj.Page
                        </td>
                        <td>
                            @obj.AddedDate
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="Book" asp-action="Edit" asp-route-id="@obj.ID" class="btn btn-outline-success"><i class="bi bi-pencil-square"></i> &nbsp; Edit</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

